:root {
    --primary: hsl(218, 95%, 48%);
    --secondary: hsl(46, 100%, 50%);
    --bg-soft: hsl(200, 100%, 97%);

    --neutral-100: hsl(0, 0%, 100%);
    --neutral-90: hsl(0, 0%, 90%);
    --neutral-80: hsl(0, 0%, 80%);
    --neutral-70: hsl(0, 0%, 70%);
    --neutral-60: hsl(0, 0%, 60%);
    --neutral-50: hsl(0, 0%, 50%);
    --neutral-40: hsl(0, 0%, 40%);
    --neutral-30: hsl(0, 0%, 30%);
    --neutral-20: hsl(0, 0%, 20%);
    --neutral-10: hsl(0, 0%, 10%);

    --body-regular: 16px;
    --regular-height: 24px;

    --body-small: 14px;
    --small: 22px;

    --body-large: 18px;
    --large-height: 28px;

    --caption: 12px;
    --cp-height: 18px;

    --h1: 36px;
    --h1-height: 44px;

    --h2: 30px;
    --h2-height: 40px;

    --h3: 24px;
    --h3-height: 32px;

    --h4: 20px;
    --h4-height: 28px;

    --h5: 18px;
    --h5-height: 26px;

    --h6: 16px;
    --h6-height: 24px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    transition: ease .3s;
}

.container {
    display: flex;
    height: 100vh;
}

.container2 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
}

.container .title {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 50px;
    background-color: var(--primary);
    color: var(--neutral-100);
}

.title p {
    margin-top: 50px;
}

.title img {
    width: 100%;
    transform: scale(0.8);
}

.container .form {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-100);
}

.container2 .form {
    width: max-content;
    padding: 5% 0px;
}

.container2 .input {
    width: 100%;
    padding: 0;
}

.container2 .title{
    padding: 30px 0px;
}

.container2 .title-text{
    padding: 10px 0px;
}

.desc{
    font-size: small;
    margin-top: 10% !important;
}

.input {
    width: 400px;
    padding: 25px;
    border-radius: 15px;
    /* box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2); */
}

.input h2 {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px;
}

input {
    display: block;
    width: 100%;
    border: 2px solid var(--primary);
    /* border-radius: 10px; */
    outline: none;
    background: none;
    padding: 15px 15px;
    margin-top: 15px;
}

input[type=submit] {
    padding: 15px 20px;
    color: white;
    font-weight: bold;
    background-color: var(--primary);
    margin-top: 20px;
    cursor: pointer;
    border: none;
}

input:focus:not(input[type='submit']) {
    border-left: 25px solid var(--primary);
}

.password {
    position: relative;
}

.password .show {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    /* background-color: var(--primary); */
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: var(--primary);
    cursor: pointer;
}

@media screen and (min-width:320px) and (max-width: 500px){
    .container {
        flex-direction: column;
    }

    .input{
        padding: 0px 40px;
    }
}
