* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --neutral-100: hsl(0, 0%, 100%);
    --neutral-90: hsl(0, 0%, 90%);
    --neutral-80: hsl(0, 0%, 80%);
    --neutral-70: hsl(0, 0%, 70%);
    --neutral-60: hsl(0, 0%, 60%);
    --neutral-50: hsl(0, 0%, 50%);
    --neutral-40: hsl(0, 0%, 40%);
    --neutral-30: hsl(0, 0%, 30%);
    --neutral-20: hsl(0, 0%, 20%);
    --neutral-10: hsl(0, 0%, 10%);

    --primary : hsl(37, 97%, 60%);
    --secondary : hsl(204, 98%, 41%);
    --tertiary : hsl(359, 76%, 53%);
    --complement : hsl(132, 45%, 32%);

    --font: "montserrat", 'segoe-ui';

    --body-regular: 16px;
    --regular-height: 24px;

    --body-small: 14px;
    --small-height: 22px;

    --body-large: 18px;
    --large-height: 28px;

    --caption: 12px;
    --cp-height: 18px;

    --h1: 36px;
    --h1-height: 44px;

    --h2: 30px;
    --h2-height: 40px;

    --h3: 24px;
    --h3-height: 32px;

    --h4: 20px;
    --h4-height: 28px;

    --h5: 18px;
    --h5-height: 26px;

    --h6: 16px;
    --h6-height: 24px;
}

h1 {
    font-size: var(--h1);
    line-height: var(--h1-height);
    color: var(--neutral-20);
}

h2 {
    font-size: var(--h2);
    line-height: var(--h2-height);
    color: var(--neutral-20);
}

h3 {
    font-size: var(--h3);
    line-height: var(--h3-height);
    color: var(--neutral-20);
}

h3.bold {
    font-weight: 800;
}

h4 {
    font-size: var(--h4);
    line-height: var(--h4-height);
    color: var(--neutral-20);
}

h5 {
    font-size: var(--h5);
    line-height: var(--h5-height);
    color: var(--neutral-20);
}

h6 {
    font-size: var(--h6);
    line-height: var(--h6-height);
    color: var(--neutral-20);
}

/*

    UTILITY

*/

a {
    text-decoration: none;
    color: black;
}

.text-small {
    font-size: var(--body-small);
    line-height: var(--small-height);
}

.text-regular {
    font-size: var(--body-regular);
    line-height: var(--regular-height);
}

.text-large {
    font-size: var(--body-large);
    line-height: var(--large-height);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


.flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.f-wrap {
    flex-wrap: wrap;
}


.grid2 {
    display: grid;
    grid-template-columns: auto auto;
}

.grid3 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid4{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid5{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.gap5 {
    gap: 5px;
}

.gap10 {
    gap: 10px;
}

.gap15 {
    gap: 15px;
}

.btn-success {

}

/*

    UTILITY-END

*/


/*

    COMPONENTS

*/

.title {
    padding: 20px 0px;
    display: block;
}

.sidebar {
    position: sticky;
    top: 0;
    flex-basis: 20%;
    height: 100vh;
    padding: 15px 0px;
    background-color: var(--secondary);
}

.sidebar .logo {
    padding: 0px 40px;
}

.sidebar a {
    display: block;
    width: 100%;
    padding: 15px 40px;
    /* background-color: #fff; */
}

.sidebar a:hover{
    background-color: var(--primary);
}

.content {
    flex-basis: 100%;
    background-color: hsl(0, 0%, 98%);
}

section {
    padding: 40px;
}

nav {
    /* position: sticky;
    top: 0; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 15px 40px;
    background-color: var(--primary);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    color: white;
}

.box {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.030);
}

/*

    COMPONENTS-END

*
